{% extends "site_base.html" %}

{% load file_timestamp %}
{% load display_helpers %}
{% load form %}

{% block brain_part %}active{% endblock %}

{% block page_title %} 
	Add Object Type
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "css/jquery.treeview.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/change_form.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/add_rdf_type.css" %}">
{% endblock %}

{% block content %}
    <h2>
        Add Object Type
    </h2>
    <div id="brain_part">
		<div id="brain_part_form">
			{% form '' 'Submit' 'post' %}
		</div>
	</div>
{% endblock content %}
