{% extends "site_base.html" %}

{% load file_timestamp %}
{% load objects_tags %}
{% load pagination_tags %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/all_rdf_page.css" %}">
{% endblock %}

{% block page_title %} 
    Objects List
{% endblock %}

{% block content %}
	<h2>Objects List</h2>
    <div id="brain_part">
        {% autopaginate sorted_dict_vals 20 %}
        {% for key in vals_and_add_new %}
        <div id="all_rdf_wrapper" class="col1{% if not forloop.last %} bordered{% endif %}">
                {% with all_rdf_dict|get_val:key.0 as rdf_type_link_and_count %}
                    <div class="rdf_type_name_and_count">
                        <a class="{{ key.0|length }}" href="{{ rdf_type_link_and_count.0 }}">{{ key.0 }}</a>
                    </div>

                    <div class="rdf_type_details_and_actions">
                        ({{ rdf_type_link_and_count.1 }} objects) [ <a href="{{ key.1 }}">Add new</a> | <a class="delete_rdf_type_link" href="{% url delete_rdf_type key.0 %}">Delete</a> | <a class="rename_rdf_type_link" href="{% url rename_rdf_type key.0 %}">Rename</a> ]
                    </div>
                {% endwith %}
            </div>
        {% endfor %}
    </div>

    <input type="hidden" name="max_item_size" value="{{ max_item_size }}">

    <div class="pagination_bottom small_text left">
        {% paginate %}
    </div>
    <br />
    <br />
    [ <a href="{% url add_rdf_type %}">new rdf:type</a> ]
    <br />
    <br />
{% endblock content %}
