{% extends "site_base.html" %}

{% load display_helpers %}
{% load file_timestamp %}
{% load form %}
{% load objects_tags %}

{% block brain_part %}active{% endblock %}

{% block page_title %} 
    {% if subject %}Edit{% else %}Add{% endif %} "{{ page_title|capfirst }}" object
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "css/jquery.treeview.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/change_form.css" %}">
{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/js/bpedit.js" %}"> </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}{% file_timestamp "js/jquery.ui.core.js" %}"> </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}{% file_timestamp "js/jquery.ui.datepicker.js" %}"> </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}{% file_timestamp "js/jquery.scrollTo/jquery.scrollTo-min.js"%}"></script>
    <script type="text/javascript" src="{% file_timestamp "/media-admin/js/admin/RelatedObjectLookups.js"%}"></script>
    <script type="text/javascript">

        $(function() {
            $("[id]").filter(function() {
               return this.id.match(/id_.*collationDate/);
               }).datepicker({ onClose: function(dateText, inst) {
                        setDetailsDate(dateText);
                    }
                });

            $('span.error').prev().remove();
        });
        
        function showHideNextField(el) {
            /*if (el.value == 'None')
                $(el).parents('.form_field_wrapper').next().show();
            else
                $(el).parents('.form_field_wrapper').next().hide();*/
        }
    </script>

{% endblock %}

{% block header_container %}
    {% if not is_popup %}
        {{ block.super }}
    {% endif %}
{% endblock header_container %}

{% block menu %}
    {% if not is_popup %}
        {{ block.super }}
    {% endif %}
{% endblock menu %}

{% block content %}
    <h2>
        {% if subject %}Edit{% else %}Add{% endif %} "{{ page_title|capfirst }}" object
    </h2>
    <div id="brain_part">
        {% if not is_popup %}
            <div class="col1">
        {% else %}
            <div class="popup_col">
        {% endif %}
            <div id="brain_part_form">
                {% form '' 'Save' 'post' 'django_rdflib/change_form_fields.html' %}
            </div>
        </div>
        {% if subject and not is_popup%}
            <div class="col2">
                <div id="sidebox">
                    <div class="header">Actions</div>
                    <div class="content">
                        <table>
                            {% block actions %}
                                <tr>
                                    <td><a href="{% url add_rdf_object site_ns_type %}">new "{{ page_title }}" object</a></td>
                                </tr>

                                <tr>
                                    <td><a href="{% url delete_rdf site_ns_type name_slug %}">delete "{{ page_title }}" object</a></td>
                                </tr>

                                <tr>
                                    <td><a id="add_new_predicate" href="{% url add_pred site_ns_type name_slug %}">add new field</a></td>
                                </tr>

                                <tr>
                                    <td><a id="predicates_list" href="{% url predicates_page site_ns_type name_slug %}">predicates list</a></td>
                                </tr>
                            {% endblock %}
                        </table>
                    </div>
                </div>

                <div id="sidebox_rdf">
                    <div class="header">RDF representation</div>
                    <div class="content">
                        <table>
                            {% for items in rdf_repr_dict.itervalues %}
                                {% for item in items %}
                                        <tr>
                                            <td class="{{ item.2 }}" title="{{ item.0 }}">
                                                <span class="rdf_repr_subject">{{ rdf_repr_dict.keys.0|apply_stringify }}</span> - <span class="rdf_repr_predicate">{{ item.0|apply_stringify }}</span> - <span class="rdf_repr_object">{{ item.1 }}</span>
                                                <div class="detail_link"><a href="{{ item.3 }}">Link</a></div>
                                            </td>
                                        </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <input type="hidden" name="ordered_keys" value="{{ keys_js_str }}">
        <input type="hidden" name="ordered_keys_prefixes" value="{{ keys_js_prefixes_str }}">
    </div>
{% endblock %}

{% block footer %}
    {% if not is_popup %}
        {{ block.super }}
    {% endif %}
{% endblock footer %}
