{% load change_form_tags %}
{% load objects_tags %}

{% contains_hidden for field as contains %}
{% if contains %}
	<div class="hidden">
{% endif %}

<div id="form_field_{{ field.name }}" class="form_field_wrapper form_field_{{ field.name }}">
	{% if not field.is_hidden %}
		<div class="form_label">
			{{ field.label_tag }}<span class="form_label_column">:</span>{% if field.field.required %}<span class="required">*</span>{% endif %} 
		</div>

		{% for error in field.errors %}
			<br />
			<span class="error">{{ error }}</span>
		{% endfor %}
	{% endif %}

	<div class="form_field">
		{{ field }}

		{% if not 'no_add_new' in field.field.widget.attrs.class %}
			{% if field.field.choices %}
				<a id="add_id_{{ field.name }}" class="add-another" href="{{ field|get_add_url }}" onclick="return showAddAnotherPopup(this)"><img width="10" height="10" alt="Add Another" src="/media-admin/img/admin/icon_addlink.gif">Add New</a>
			{% endif %}
		{% endif %}
	</div>

	{% if contains %}
		</div>
	{% endif %}

	{% if not field.is_hidden %}
		<br />
		{% if field.help_text %}
			<span class="small-text">{{ field.help_text }}</span>
		{% endif %}
	{% endif %}
</div>
