{% extends "site_base.html" %}

{% load file_timestamp %}
{% load form %}

{% block brain_part %}active{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "css/jquery.treeview.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/delete_rdf.css" %}">
{% endblock %}

{% block page_title %} 
    Delete {{ page_title|capfirst }}
{% endblock %}

{% block content %}
    <h2>
        Delete {{ page_title|capfirst }}
    </h2>
    <div id="brain_part">
        <div class="col1" id="delete_rdf">
            <ul class="messages">
                <li class="warning">Are you sure you want to delete the {{ page_title|capfirst }}?</li>
            </ul>

            {% form '' 'Yes' 'post' %}
            <div id="btn_no_delete" class="btn"><a href="{% url all_rdf_page %}" id="no_delete">No</a><span></span></div>

        </div>
        <div class="col2">
            <div id="sidebox">
                <div class="header">Actions</div>
                <div class="content">
                    <table>
                        <tr>
                            <td><a href="{% url add_rdf_object site_ns_type %}">New {{ page_title|capfirst }}</a></td>
                        <tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
