{% extends "site_base.html" %}

{% load file_timestamp %}
{% load objects_tags %}
{% load pagination_tags %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/all_rdf_page.css" %}">
{% endblock %}

{% block page_title %} 
    Predicates List
{% endblock %}

{% block content %}
	<h2>Predicates List</h2>
    <div id="brain_part">
    {% for pred in predicates_list %}
        {# <a href="{{ pred.1 }}">{{ pred.0 }}</a> <br /> #}
        <div id="all_rdf_wrapper" class="clearfix col1{% if not forloop.last %} bordered{% endif %}">
            <div class="rdf_type_name_and_count">
                {{ pred.0 }}
            </div>

            <div class="rdf_type_details_and_actions">
                [ <a class="rename" href="{{ pred.1 }}">Rename</a> ]
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock content %}
