{% extends "site_base.html" %}

{% load file_timestamp %}
{% load form %}

{% block brain_part %}active{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "css/jquery.treeview.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/brain_parts/css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{% file_timestamp "app/django_rdflib/css/delete_rdf.css" %}">
{% endblock %}

{% block page_title %} 
    Rename {{ page_title|capfirst }}
{% endblock %}

{% block content %}
    <h2>
        Rename {{ page_title|capfirst }}
    </h2>
    <div id="brain_part">
        <div class="col1" id="delete_rdf">
            {% form '' 'Save' 'post' %}
        </div>

        <div class="col2">
            <div id="sidebox">
                <div class="header">Actions</div>
                <div class="content">
                    <table>
                        <tr>
                            <td><a href="{% url add_rdf_object site_ns_type %}">New {{ page_title|capfirst }}</a></td>
                        <tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
